th{
    color: floralwhite;
    width: 3000px;
}

a{
    text-decoration: none;
}

.riga2{
    background-color: lightskyblue;
}
.container{
    background: rgb(75, 130, 232); 
    height: 125px;
    background-image: url("../img/pattern.png");
    background-size: 480px;
}

.square-img1{
    background-image: url("../img/monitor.jpg");
    width: 210px;
    height: 160px;
    color: white;
    display: block;
    background-size: cover;
}

.square-img2{
    background-image: url("../img/graph.jpg");
    width: 210px;
    height: 160px;
    color: white;
}

#text1{
    font-size: 70px;
}

#text2{
    color: grey;
    font-size: 20px;
    margin-top: -60px;
}

#text3{
    color: grey;
    margin-top: -14px;
    margin-bottom: 25px;
}

#text4{
    padding-left: 10px;
    padding-top: 15px;
    font-weight: bold;
}

#logo{
    width: 200px;
    margin-top: 60px;
}

#riga1{
    background-color: rgb(42, 141, 240);
}

#item{
    color: grey;
}
