th{
    color: floralwhite;
}

a{
    text-decoration: none;
}

.riga2{
    background-color: lightskyblue;
}
.container{
    background: rgb(75, 130, 232); 
    height: 125px;
    background-image: url("../img/pattern.png");
    background-size: 480px;
}

#logo{
    width: 200px;
    margin-top: 60px;
}

#riga1{
    background-color: rgb(42, 141, 240);
}

#item{
    color: grey;
}

#logo2{
    background-image: url("img/monitor.jpg")
    
}

#logo3{
    
}